@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Lexend:wght@500;600;700&family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Lexend+Deca:wght@300;400;500&family=Lexend:wght@500;600;700&family=Press+Start+2P&display=swap");
:root {
  --bg-principal: #4c0370;
  --bg-secundary: #712994;
  --cl-primary: rgba(30, 30, 30, 0.8);
  --cl-secundary: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
